// 弹框样式
// .el-dialog__body {
//   padding: 0;
// }
// .el-dialog__header {
//   padding: 0;
// }
// .el-dialog {
//   background: #ffffff00;
// }

.el-dialog__header {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    height: 18px;
    width: 6px;
    background: #0a89ff;
    display: inline-block;
    border-radius: 2px;
  }
  .el-dialog__title {
    padding-left: 6px;
  }
  .el-dialog__headerbtn {
    font-size: 18px;
  }
}
.el-dialog__footer {
  text-align: center;
}

.el-table .el-table__cell {
  padding: 6px 0;
}
.tag-dialog-container {
  .tag-add-line {
    border: 1px dotted #0a89ff;
    display: inline-block;
    margin-top: 10px;
    width: 120px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: #0a89ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tag-container {
    margin: 15px 0;
    display: flex;
    .tag-line {
      width: 450px;
      display: inline-block;
      .el-tag {
        margin-right: 8px;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}

.el-tab-pane {
  padding: 0 12px;
}
